<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-content">
            <div class="card-header">
                <div class="card-header-title">
                    <h1>Card Title {title}</h1>
                </div>
            </div>
            <div class="card-body">
                <p>Card Body {body}</p>
            </div>
            <div class="card-footer">
                <p>Card Footer {footer}</p>
            </div>
        </div>
    </div>
</body>
</html>: